<!DOCTYPE html>
<html ng-app="welcomemat">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="./node_modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="./node_modules/angular-resource/angular-resource.min.js"></script>
  <script src="./node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="./app.js"></script>
  <title>A Sample Welcome Mat App</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body ng-controller="WelcomeMatCtrl as mat">
  <div class="flexgrid" ng-show="mat.showHideWelcomeMat">
    <div class="col cta">
      <h1>Get More Email Signups</h1>
      <h3>Create a simple the use speech bubble to turn website visitors into app users. Lorem ipsum set dolor. Lorem ipsum set dolor. Lorem ipsum set dolor.</h3>
    </div>
    <div class="col fieldscontainer" ng-class="mat.fadeOut">
      <div class="fields">
        <form name="SubscribeForm">
          <div ng-hide="mailChimp.result === 'success'">
            <input type="text" name="fname" ng-model="mailChimp.FNAME" placeholder="First name" required>
            <input type="text" name="lname" ng-model="mailChimp.LNAME" placeholder="Last name" required>
            <input type="text" name="email" ng-model="mailChimp.EMAIL" placeholder="Email address" required>
            <button class="button" ng-disabled="SubscribeForm.$invalid" ng-click="mat.addSubscription(mailChimp)">Join Email List</button>
          </div>
          <span class="nothanks" ng-click="mat.noThanksCookie()" ng-hide="mailChimp.result === 'success'">
            no thanks, i'd rather not
          </span>
          <div class="message" ng-show="mailChimp.result === 'error'">
            <span ng-bind-html="mailChimp.message"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flexgridthirds">
    <div class="col">
      <h1>THIS IS SOME BASIC FLEXGRID COLUMNS</h1>
      <h3>Lorem ipsum set dolor. Lorem ipsum set dolor. Lorem ipsum set dolor.</h3>
    </div>
    <div class="col">
      <h1>THIS IS SOME BASIC FLEXGRID COLUMNS</h1>
      <h3>Lorem ipsum set dolor. Lorem ipsum set dolor. Lorem ipsum set dolor.</h3>
    </div>
    <div class="col">
      <h1>THIS IS SOME BASIC FLEXGRID COLUMNS</h1>
      <h3>Lorem ipsum set dolor. Lorem ipsum set dolor. Lorem ipsum set dolor.</h3>
    </div>
  </div>
  <div class="flexgrid">
    <div class="col">
      <h1>This is just some content to show the transition between closing the welcome mat</h1>
    </div>
  </div>
</body>
</html>
