<!DOCTYPE html>
<html ng-app="welcomemat">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="./node_modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="./node_modules/angular-resource/angular-resource.min.js"></script>
  <script src="./node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="./app.js"></script>
  <title>A Sample Welcome Mat App</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body ng-controller="WelcomeMatCtrl as mat">
  <div class="flexgrid" ng-show="mat.showHideWelcomeMat">
    <div class="col cta">
      <h1>Get More Email Signups</h1>
      <h3>Create a simple the use speech bubble to turn website visitors into app users. Lorem ipsum set dolor. Lorem ipsum set dolor. Lorem ipsum set dolor.</h3>
    </div>
    <div class="col fieldscontainer">
      <div class="fields">
        <form>
          <div ng-hide="mailchimp.result === 'success'">
            <input type="text" name="fname" ng-model="mailchimp.FNAME" placeholder="First name" required>
            <input type="text" name="lname" ng-model="mailchimp.LNAME" placeholder="Last name" required>
            <input type="text" name="email" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
            <!-- <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="mat.addSubscription(mailchimp)">Join</button> -->
            <button class="button" ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="mat.addSubscription(mailchimp)">Join Email List</button>
          </div>
          <span class="nothanks" ng-click="mat.noThanksCookie()">
            no thanks, i'd rather not
          </span>
          <div class="message">
            <span ng-bind-html="mailchimp.message"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
